html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Lato, sans-serif;
    background: #F7F7F7;
}
#ccp {
    position: fixed;
    left: 20px;
    right: 0;
    bottom: 20px;
    background-color: white;
    color: #333;
    text-align: left;
    border-radius: 5px;
    padding: 15px 25px 10px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 99999;
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
}
.cookie-h1 {
    font-size: 1.2rem;
    color: #333;
    font-weight: 700;
}
.cookie-info {
    margin-top: 10px;
    font-size: 0.95rem;
    color: #666;
    text-align: left;
    line-height: 1.5;
    width: 100%;
}
.powered-by {
    margin-top: 10px;
    text-align: center;
    font-size: 0.75rem;
    opacity: 0.85;
    color: inherit;
}
.powered-by a {
    color: inherit;
    text-decoration: none;
}
#ccp button {
    padding: 8px 16px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 4px;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    transition: background-color 0.3s, transform 0.2s;
}
#ccp button.accept, #ccp button.decline {
    color: white;
    background-color: #4CAF50;
    margin: 15px 5px 10px 0px;
}
#ccp button.decline {
    background-color: #f44336;
}
#ccp button.settings {
    color: #333;
    border: 1px solid #333;
    margin: 15px 10px 10px 0px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 50px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.close {
    color: #aaa;
    float: right;
    font-size: 21px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.category {
    background: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
}
.category h3 {
    font-size: 1.1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
#savePreferences {
  padding: 15px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    width: 45%;
    letter-spacing: 1px;
    border-radius: 4px;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    transition: background-color 0.3s, transform 0.2s;
    color: #333;
    border: 1px solid #333;
    margin: 15px 10px 10px 0px;
}

#acceptAll {
  
 padding: 15px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    width: 45%;
    letter-spacing: 1px;
    border-radius: 4px;
    text-align: center;
    background-color: #333;
    border: none;
    font-size: 0.9rem;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
    margin: 15px 10px 10px 0px;
}
@media screen and (max-width: 768px) {
    #ccp {
        width: calc(100% - 40px);
        left: 20px;
        padding: 15px;
    }
    .modal-content {
        width: 90%;
    }
